

*{
  box-sizing: border-box;
}

:root{
  --primary-color: #0b3a58;
  --secondary-color: #f0344d;
}


.button-primary{
  background-color: var(--primary-color) !important;
  color: white !important;
  border: 2px solid var(--primary-color) !important;
}

.button-primary:hover{
  color: var(--primary-color) !important;
  background-color: white!important;
}


.button-secondary{
  background-color: var(--secondary-color) !important;
  color: white !important;
  border: 2px solid var(--secondary-color) !important;
}

.button-secondary:hover{
  border: 2px solid var(--secondary-color) !important;
  color: var(--secondary-color) !important;
  background-color: white!important;
}


